#card-container{
    cursor: pointer;

    img{
        width: 100%;
        height: 70%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 20px;
    }

    .grey-text{
        color: grey;
    }
    p{
        &:last-child{
            margin-top: 0.5rem;
        }
    }
}