/* Ensures the html and body elements take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column; /* You can use flex or other methods based on layout */
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-color: black;
  --main-grey-color: rgba(197, 197, 197, 0.473);
  color: var(--font-color);
  background-color: #ffffff;
}

body {
  margin: 0px;
  padding: 0;
  height: 100%;
}
p{
  margin: 0;
}
button{
  background-color: #ffffff00;
  cursor: pointer;
}
