@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column; /* You can use flex or other methods based on layout */
}

html {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-color: black;
  --main-grey-color: rgba(197, 197, 197, 0.35);
  --second-grey-color: rgba(197, 197, 197, 0.26);
  color: var(--font-color);
  background-color: #ffffff;
}

body {
  margin: 0px;
  padding: 0;
  height: 100%;
}
p,h4{
  margin: 0;
}
button{
  background-color: #ffffff00;
  cursor: pointer;
}
