/* Ensures the html and body elements take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column; /* You can use flex or other methods based on layout */
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #f0eeee;
}

body {
  margin: 0px;
  padding: 0;
  height: 100%;
}
p{
  margin: 0;
}
