#filters-container{
    height: 4rem;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;

    button{
        margin: 0 1rem;
        border: 2px solid grey;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }

    ul{
        display: flex;
        width: 90%;
        height: 90%;
        list-style: none;
        margin: 0rem 1rem;
        font-size: 0.8rem;
        justify-content: space-between;
        align-items: center;

        button{
            padding: 0.7rem;
            aspect-ratio: 1/1;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100%;
            font-size: 1.3rem;


        }

        li{
            display: flex;
            flex-direction: column;
            width: 5rem;
            justify-content: center;
            align-items: center;
            height: 90%;
            padding: 0.5rem;
            border-radius: 20%;

            &:hover{
                background-color: var(--main-grey-color);
                cursor: pointer;
            }

            img{
                height: 70%;
                object-fit: contain;
            }
        }
    }
    
}

#drop-filter-container{
    position: fixed;
    background-color: rgba(128, 128, 128, 0.616);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #drop-filter{
        background-color: white;
        height: 90%;
        width: 35rem;
        border-radius: 20px;
        padding: 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        #top{
            display: flex;
            height: 4rem;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            justify-content: center;
            align-items: center;
            position: relative;
            border-bottom: 1px solid var(--border-color);
            width: 100%;
            
            p{
                width: 100%;
                text-align: center;
                font-weight: bold;
            }
            img{
                height: 25%;
                right: 0;
                position: absolute;
                object-fit: contain;
                border-radius: 100%;
                aspect-ratio: 1/1;
                padding: 0.5rem;
                margin-right: 1rem;
                transition: 0.1s;

                &:hover{
                    background-color: var(--main-grey-color);
                }
            }
        }

        #filter-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            height: 100%;
            justify-content: flex-start;
            

            #type{
                width: 100%;
                font-size: 1.3rem;
                border-bottom: 1px solid var(--border-color);
                margin: 1rem 0;
                

                #type-content{
                    display: flex;
                    margin: 1rem 0;
                    border: 2px solid var(--border-color);
                    padding: 0.2rem;
                    border-radius: 15px;
                    justify-content: space-between;

                    button{
                        border: none;
                        margin: 0;
                        border-radius: 15px;
                        height: 2.5rem;
                        width: 33%;
                        font-size: 1rem;
                        
                        &:hover{
                            background-color: var(--main-grey-color);
                        }
                    }
                }
            }
        }

        #bottom{
            display: flex;
            height: 3.5rem;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            justify-content: space-between;
            align-items: center;
            position: relative;
            border-top: 1px solid var(--border-color);
            bottom: 0;
            padding: 1rem 0;
            box-shadow: 0px -10px 20px var(--border-color);
            width: 100%;

            button{
                font-size: 1rem;
                border: none;
                padding: 1.5rem;
                
                &:last-child{
                    background-color: rgb(32, 32, 32);
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}